option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    GITHUB_CLIENT_ID:Ov23liqeoKwjhScFu17W
    GITHUB_CLIENT_SECRET:c1e312659462dc7aeed9974eed3be4fd003b31cf
    GOOGLE_CLIENT_ID: 29384472659-vjqog3kiemgesilak85rv6r06uksh8c8.apps.googleusercontent.com
    GOOGLE_CLIENT_SECRET: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
