<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <h1>Welcome to the public homepage safeee</h1>
    <p th:if="${username != null}">
        Logged in as <strong th:text="${username}">user</strong> |
        <a th:href="@{/logout}">Logout</a> |
        <a th:href="@{/admin}">Admin page</a>
    </p>
    <p th:if="${username == null}">
        <a th:href="@{/oauth2/authorization/github}">Login with GitHub</a> |
        <a th:href="@{/oauth2/authorization/google}">Login with Google</a>
    </p>
</body>
</html>
